#map,
body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.leaflet-popup-content {
  text-align: left;
}

table{
  font-size: 9pt;
  text-align: center;
}

#tr-title{
  text-align: justify;
}

td:nth-child(2) + td { text-align: justify; }

.jumbotron {
  padding: 30px;
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: white;
  background-color: #1490e9;
}